mixin forgotForm()
	form.form(action="/account/forgot" method="POST")
		h2 I forgot my password! 
		strong.label(for="email") Email 
		input(type="email" name="email")
		input.button(type="submit" value="Please send a Password Reset Email 👉")